﻿@model List<WebInterface.Models.Task>

<div class="text-center">
    <table style="width:auto">
        <tr>
            <th>BeginDate</th>
            <th>DeadLineDate</th>
            <th>Title</th>
            <th>Requirement</th>
            <th>Responsibility</th>
        </tr>
        @foreach (WebInterface.Models.Task task in Model)
        {
            <tr>
                <th>
                    @task.BeginDateTime.ToString()
                </th>
                <th>
                    @task.DeadLineDateTime.ToString()
                </th>
                <th>
                    @task.Title
                </th>
                <th>
                    @task.Requirements
                </th>

                <th>
                    @if (task.Users.Count > 1)
                    {
                        <h6>*</h6>
                    }

                    @foreach (User user in task.Users)
                    {
                        <h5>
                            @user.FirstName @user.LastName

                        </h5>
                    }
                </th>
            </tr>
        }
    </table>

    <h5>* = means this tasks  more than one responsible</h5>

</div>
